@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    /*Colors*/
    --first-color: #084772;
    --second-color: #07689F;
    --third-color: #C1503E;
    --fourth-color: #E27D68;
    --title-color: #232925;
    --text-color: #6A7C70;
    --text-color-lighter: #9FADA4;
    --body-color: #ffffff;
    --input-linear: linear-gradient(120deg, var(--fourth-color), var(--third-color));
    --button-linear: linear-gradient(120deg, var(--fourth-color), #e4755f, var(--third-color));

    /*Font-weight*/
    --light-font-weight: 300;
    --regular-font-weight: 400;
    --medium-font-weight: 500;
    --semi-bold-font-weight: 600;

    /*Font-size*/
    --h1-font-size: 3.0rem;
    --h2-font-size: 2.0rem;
    --h3-font-size: 1.5rem;
    --h3-mobile-font-size: 1.0rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*Borders*/
    --border-height: 1px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--body-color);
}

section#banner{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url('../images/hero.jpg') center center;
    background-size:cover;
    position:relative;    
}

#header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    }
    
#header .logo img{
width: 150px;
}

dl, ol, ul {
margin-top: 0;
margin-bottom: 0;
}

ol, ul {
padding-left: 0;
}

#socials{
display: flex;
justify-content: center;
align-items: center;  
}

#socials ul{
padding: 0;
}

#socials li{
list-style: none;
margin-right: 20px;
align-items: center;
justify-content: center;
cursor: pointer; 
}

#socials li a{
text-decoration: none;
}

#socials li a i{
width: 32px;
height: 32px;
}

#socials i{
color: #e6e6e6;
}

#socials i:hover{           
color: #ffffff;
}

article#banner-content{
    width: 90%;
    height: 100vh;
    position: relative;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
    overflow: hidden;
}

#banner-title{
    position: absolute;
    color: #ffffff;
    white-space: normal;
    font-size: 3.5em;
    font-weight: var(--bold-font-weight);
    transform: translateY(-50px);
    z-index: 10;
}

#banner-description{
    position: absolute;
    color: #e6e6e6;
    white-space: normal;
    font-size: 2.5em;
    font-weight: var(--light-font-weight);
    transform: translateY(25px);
    z-index: 10;    
}

strong{
    color: #ffffff;
    font-weight: var(--semi-bold-font-weight);
}

#banner-btn{
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 40px;
    background-color: var(--third-color);
    color: #e6e6e6;
    font-size: 1.2em;
    font-weight: var(--semi-bold-font-weight);
    transform: translateY(125px);
    transition: all 0.3s ease 0s;
    z-index: 10;
}

#banner-btn:hover{
    color: #ffffff;
    background-color: var(--fourth-color);
    letter-spacing: 1px;
}

/*========================================
                Warning
========================================*/
#warning{
    width: 500px;
    height: 60px;
    background-color: var(--third-color);
    border-radius: 10px;
    margin: 20px 0px 0px 0px;
    position: fixed !important;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#warning p{
    margin: 0;
    font-weight: var(--semi-bold-font-weight);
    color: #ffffff;
}

/*========================================
                Forms
========================================*/

section#forms{
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .row{
    width: 100%;
}

.row .col-md-6{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    align-items: flex-start;
}

.forms-container{
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: right;
}

#profile-title{
    margin-bottom: 32px;
    color: var(--title-color);
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right; 
}

.input-form{
    height: 48px;
    width: 100%;
    color: var(--text-color);
    background-color: var(--body-color);
    font-weight: var(--semi-bold-font-weight);
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;
    position: relative;
}

.input-border-form{
    height: var(--border-height);
    width: 100%;
    margin-bottom: 16px;
    background: var(--text-color-lighter);
    transition: .3s ease-in-out;
}

.input-border-form::after{
    content: '';
    display: block;
    height: var(--border-height);
    width: 0;
    margin-bottom: 16px;
    background: var(--input-linear);
    transition: .3s ease-in-out;
}

.input-form:focus + .input-border-form::after{
    width: 100%;
}

::-webkit-input-placeholder{
    color: var(--text-color-lighter);
}
 
:-moz-placeholder{
    color: var(--text-color-lighter);
}
 
::-moz-placeholder{
    color: var(--text-color-lighter);
}
 
:-ms-input-placeholder{  
    color: var(--text-color-lighter);  
}

input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button{
    color: var(--text-color-lighter);
    position: relative;
}

.separator-border-form{
    height: var(--border-height);
    width: 100%;
    margin: 40px 0px;
    background: var(--text-color-lighter);
}

#files-area{
    width: 500px;
    height: 250px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--body-color);
    background: var(--button-linear);
    border-radius: 15px;
}

.btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-submit{
    margin-bottom: 40px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    position: relative;
    background: var(--button-linear);
    background-size: 200%;
    color: var(--body-color);
    font-size: var(--normal-font-size);
    font-weight: var(--semi-bold-font-weight);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease 0s; 
}

.btn-submit:disabled {
    background: var(--button-disabled);
    cursor: not-allowed;
}
  
.btn-submit:hover {
    background-position: right;
    letter-spacing: 2px;
}

/*========================================
                Footer
========================================*/

.footer{
    width: 100%;
    height: 50px;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.footer h6{
    font-size: var(--small-font-size);
    font-weight: var(--light-font-weight);
    color: #e6e6e6;
}
  
.footer img{
    width: 20px;
    height: 20px;
    margin: 0px 5px 8px 5px;
}

.footer #creator{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease 0s;
}
  
.footer #creator:hover{
    letter-spacing: 1px;
}